<html>
<head>
  <title>Brenda CK</title>
  <link rel="stylesheet" href="stylesheets/application.css" type="text/css" media="all" />
</head>
<body>
  <div class="header">
    <div class="logo">
      <%= image_tag "text/brenda_collins.gif" %>
    </div>
    <div class="menu">
      <%= link_to "HOME", "." %>
      <%= link_to "PRIVATE CLASSES", "privates" %>
      <%= link_to "EVENTS", "events" %>
      <%= link_to "WORKSHOPS", "workshops" %>
      <%= link_to "CALENDAR", "calendar" %>
      <%= link_to "ABOUT ME", "about_me" %>
    </div>
    <div class="knot">
      <%= image_tag "top_knot.png" %>
    </div>
  </div>
  <div class="middle">
    <div class="content">
      <%= content %>
    </div>
    <div class="knot">
      <%= image_tag "bottom_knot.png" %>
    </div>
  </div>
  <div class="footer">
    <div class="links">
      <%= link_to "CONTACT ME", "contact_me" %>      
    </div>
  </div>
</body>
</html>
