<html>
<head>
  <title>Brenda CK</title>
  <link rel="stylesheet" href="stylesheets/application.css" type="text/css" media="all" />
</head>
<body>
  <div class="header">
    <div class="logo">
      <%= image_tag "text/brenda_collins.gif" %>
    </div>
    <div class="menu">
      <%= link_to "BIOS", "bios.html" %>
      <%= link_to "WHAT I DO", "what_i_do.html" %>
      <%= link_to "RATES", "rates.html" %>
      <%= link_to "CALENDAR", "calendar.html" %>
      <%= link_to "VIDEO/PHOTOS", "media.html" %>
      <%= link_to "CONTACT ME", "contact_me.html" %>
    </div>
    <div class="knot">
      <%= image_tag "top_knot.png" %>
    </div>
  </div>
  <div class="middle">
    <div class="content">
      <%= content %>
    </div>
    <div class="knot">
      <%= image_tag "bottom_knot.png" %>
    </div>
  </div>
  <div class="footer">
  </div>
</body>
</html>