<html>
<head>
  <title>Jeremy &amp; Karissa</title>
  <link href="stylesheets/reset-min.css" media="all" rel="stylesheet" type="text/css">
  <link href="stylesheets/intro.css" media="all" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="content">
    <div class="dance events">
      <h3>Dance Events</h3>
      <ul>
        <li><span>Mar 20, 2010</span><%= link_to "Blues Brothers", "bluesbrothers/" %></li>
        <li><span>Mar 21, 2009</span><%= link_to "Blues Workshop", "2009/blues_workshop/" %></li>
        <li><span>Jan 17-18, 2009</span><%= link_to "Challenge Workshop", "challenge/" %></li>
        <li><span>May 10-11, 2008</span><%= link_to "Blues Hero", "http://blueshero.com/" %></li>
      </ul>
      <h3>Our School</h3>
      <ul>
        <li><span>Fall, 2011</span><%= link_to "Lighthouse Montessori", "http://lighthousemontessorischool.com/" %></li>
      </ul>
    </div>
    <div class="wedding events">
      <h3>Burning Man</h3>
      <ul>
        <li><span>Aug 31-Sep 6, 2009</span><%= link_to "Our Camp", "liltown/" %></li>
      </ul>
      <h3>Getting Married</h3>
      <ul>
        <li><span>June 13, 2008</span><%= link_to "Wedding", "wedding/" %></li>
        <li><span>June 13-15, 2008</span><%= link_to "JKLBX", "exchange/" %></li>
      </ul>
    </div>
  </div>
</body>
</html>
