<style type="text/css" media="screen">
  a.button {
    display: block;
    width: 12em;
    text-align: center;
    margin: 1em auto;
  }
  
  img.brenda {
     float: left; 
     height: 30em; 
     margin-left: -16em;
  }
  
  .middle .content {
    padding-left: 16em;
    width: 35em;
  }
  
  img.heading {
    margin-left: -5em;
  }
</style>

<%= image_tag "photos/blue_dress_transparent.gif", :class => "brenda" %>

<%= heading :welcome %>

<p>Welcome to my new website!</p>

<p>Take a look around, if you have any questions or feedback, I would love to <%= link_to "hear", "contact_me.html" %> from you.</p>

<p>If you want to keep up with me, signup for my <%= link_to "newsletter", "newsletter.html" %>!</p>

<p>Thanks for stopping by!</p>

<%= button_to "Schedule a Private", "privates.html" %>
<%= button_to "Book an Event", "events.html" %>
<%= button_to "Book a Workshop", "workshops.html" %>

<%= image_tag "text/brenda.gif", :class => "signature" %>  

<div style="clear:both;"></div>
