<script src="javascripts/jquery.flickr-1.0.js" type="text/javascript"></script>
% helper :bios
% helper :classes

<%= heading :book_a_workshop %>


h2. What is a workshop?

A workshop is a series of classes offered in a set block of time during a day, evening, or weekend. 

h2. How do workshops work with Brenda?

Start by setting a vision for the weekend.  Think about what you want to accomplish with your workshops, who you want the students to be, what you want to students to get out of their investment.  The number of students, the number of hours of classes, and an overall dance goal guides the direction of the workshop.  Share your vision with Brenda and she will work with you to create a workshop schedule and classes tailored to your community. 

Once you're ready to book me for a workshop, go ahead and e-mail me by clicking this link :

p(buttons). <%= button_to "Book a Workshop", "mailto:brenda@dancemode.com?subject=[BOOK+WORKSHOP]" %>

h2. Availability

First, check my "calendar":calendar.html to see when I am available to do a workshop.

h2. Rates

* Weekend Workshops
** $1500 for a 10 hour weekend (rate may be discounted if teaching with a partner)
* Single Day Workshops
** $800 minumum at $150 per hour
* Evening Workshops
** $300 minimum at  $100 per hour

h2. Promotion Material

h3. Bios

<%= all_bios %>

h3. Photos

<%= gallery ".photos", :type => "search", :tags => "brenda_events" %>
<div class="some photos"></div>

Or "see more photos":photos.html

h2. Classes for Workshops

For workshops I like to start with some individual movement and technique.  I suggest 1-3 hours to raise the students body awareness and control before connecting with a partner. 

<h3>General Classes <%= read_more ".general.classes" %></h3>
<div class="general classes">

__Feedback Class__
Great as a masters class, an elective, or as a tool for teacher training. They are common at WCS events and in Invitational tracks at other Swing and Blues events. The idea is to give pointers to individuals as the class observes so they can all benefit from each other's notes. Seeing and hearing another dancer being critiqued can help us learn something we might not be able to in a typical group class, or in a private lesson of our own. Bring a notepad and pen and check your ego at the door. This class is open to any dance style.

__Solo Movement__
Applicable to all dance styles. We use isolations and exercises to create integration and control in our dance movement. The better we dance as individuals the more we offer as partners.

</div>

<h3>Blues Classes <%= read_more ".blues.classes" %></h3>
<div class="blues classes">

__Blues Foundations__
Brenda will cover basic leg and hip action for Blues, as well as a traditional dance pattern for moving with your partner.

__Blues Vocabulary__
Using the basic structures established in Class I, we will continue on refining our technique and incorporating various rhythms, maneuvers, and turns.

__Isolations, Shaping, and Leverage__
We will add depth and texture to our dancing by exploring and mastering the illusive characteristics of partner dancing.

__Rhythm and Movement__
This class will focus on expanding your vocabulary of rhythms in your blues dancing and how to use the different rhythms to create new directional patterns. This is a vocabulary expander for both leads and follows independently and together.

__Pivots, Spins, and Turns__
We will drill several types of turn technique to build strength and muscle memory, then put the concepts into our partnering and solo dancing.

__Frame Changes__
This class uses promenade and offline navigating, creating a diverse and complex dance repertiore.

__Fancy Turns, Dips, and Skips__
We will create sequences of advanced movements working through techniques and transitions along the way.

__African Dance Movement for Blues__
We will cover several African dance moves and put them into our Blues dancing with partners. They can also be used individually in your solo or partner dancing.

__Drag Blues__
This Dynamic Vintage Swing Dance is a favorite among Blues dancers.  Brenda presents this dance in an easy and fun way that is accessible for all levels.

</div>

<h3>West Coast Swing Classes <%= read_more ".wcs.classes" %></h3>
<div class="wcs classes">

__West Coast Swing for Partner Dancers__
We will start with fundamental West Coast Swing patterns to make the class friendly for all dancers, then create interesting variations as well as offer specific styling and technique tips for an authentic look and feel. If you already know WCS please come help the other dancers in the class, you might pick up a tip or two as well!

__Foundational Rhythms and Patterning__

__Basics of Rhythm and Connection__
Leg Action & Body Shaping for a Smooth Look & Feel

__Body Alignment and Turning Techniques__

__Fun Footwork Variations__
New Twists on Old Patterns

__Styling from the Ground Up - Finishing Touches__

__Body Isolations for Getting Funky__

</div>

<h3>Salsa Classes <%= read_more ".salsa.classes" %></h3>
<div class="salsa classes">

__Leg Action and Cuban Motion__

__Basic Patterning and Lead/Follow Skills__

__Body Alignment and Turn Technique__

__Foundational Turn Patterns__

__Passes and Turns for Manuevering on the Floor__

__Rhythm and Footwork Variations__

__Isolations and Integration__

__Solo Shines for Men and Women__

__Finishing Touches - Arm and Head Styling for Men and Women__

__More Turn Patterns for Expanding Your Vocabulary__

__Social Salsa - Maneuvering and Musicality for the Club__

__Performance Salsa - Tools and Tips for Creating Dynamic Routines and Competition Performances__
  
</div>

<%= hide_classes %>
