% helper :jeremy_and_karissa

<style type="text/css" media="screen">
  .djs p { 
    margin-right: 10em; 
  }
  
  .djs p.from {
    font-style: italic;
    text-align: right;
    padding-right: 1em;
  }
  
  .djs img {
    float: right;
    margin-left: 2em;
    margin-right: -8em;
  }
  
  
</style>

<div class="djs">

h1. Blues DJs


<a name="carolyn_palma"></a>

h2. Carolyn Palma

<%= dj_image :carolyn_palma %>

p(from). Seattle, WA



<a name="cid_galicia"></a>

h2. Cid "Little Boy Blue" Galicia

<%= dj_image :cid_galicia %>

p(from). Chico, CA

Beginning with house parties and lindy nights at Midtown Stop, Cid is currently DJing Friday Night blues in San Francisco and Tuesday Lindy/Blues : "Up in the Kitchen" at Studio1 in Chico.  Cid most recently DJ'd at ULX '07, MJLSX, Blues Rising, SACX, Do Something Blue, Reno Dance Sensation, and more...

<a name="david_mortensen"></a>

h2. David Mortensen

<%= dj_image :david_mortensen %>

p(from). -Idaho- Seattle, WA


<a name="emily_smith"></a>

h2. Emily Smith

<%= dj_image :emily_smith %>

p(from). Seattle, WA

Emily started to DJ blues after moving to Seattle 2 years ago, and was one of the initial DJs to start Burn Blue, the regular blues venue in Seattle. She also helps run the monthly blues venue, Blues underground and gets to DJ there often.

Emily has recently started to travel to DJ events out of town is having a really fun time with it. She is also currently expanding her DJ abilities by spinning at local Lindy-Hop venues. Once nursing school is over, she hopes to have a lot more time for more!


<a name="laura_curtis"></a>

h2. Laura "Lindy Sauce" Curtis

<%= dj_image :laura_curtis %>

p(from). Sacramento, CA

Laura had her first stab at DJing at a blues party in Vancouver, WA in July 2005. Her set went so well with the crowd that she was asked to DJ the following night at another party over the state line in Portland. After that weekend she was hooked and has proceeded to spend hours and hours searching for new tunes to spin. She's DJed at weekend events and blues parties in Seattle, Portland, San Francisco, Chico, Reno, Utah, Sacramento, and most recently at an after after hours party at SoFlex '07. 

She would describe her style as a mesh of blues, swing, r&amp;b, funk and soul. If its got ass, she'll play it.

<a name="martin_beally"></a>

h2. Martin Beally

<%= dj_image :martin_beally %>

p(from). Seattle, WA

When Martin (aka "Lindy Chef":http://lindychef.com/) steps into the booth and spins, there's no hidden agenda, just a desire to get into the groove. It usually results in a fantastic blend of slide guitar, hot jass and R&B, with a good amount of soul and gospel sprinkled in. 

Oh, and he likes to dance too

<a name="miranda_metcalf"></a>

h2. Miranda Metcalf

<%= dj_image :miranda_metcalf %>

p(from). Seattle, WA

Miranda rules all.  What else is there to say?

<a name="steven_watkins"></a>

h2. Steven "Dr. Feelgood" Watkins

<%= dj_image :steven_watkins %>

p(from). San Francisco, CA

Steven, a.k.a. Dr. Feelgood, originally hails from New York City, Steven now calls San Francisco/Oakland Home! He started dancing in 1998, and he began his BLUES DJing career at his other adopted home - you guessed it - St.Louis' Cheap Thrills 2004. Since then Dr. Feelgood has been thrilled to be spreading his love for the BLUES, with some smooth, gritty, sultry music, coupled with a great sense of musical timing. Oh, those sexy good looks help too!


<a name="tina_davis"></a>

h2. Tina "Sweet T" Davis

<%= dj_image :tina_davis %>

p(from). Dallas, TX

Tina started doing the DJ thang in 2003 in the great state of Florida and now calls Dallas, Texas her home.

Tina spins a mix of styles for her Lindy, Blues and occasional West Coast sets, but it's all gotta have a little "ass" to it. In addition to spinning at exchanges and events across the U.S. and Canada, she's also been known to help organize events like the Austin Blues Party and teach at Blues Boot Camp (Dallas) in her copious free time.

You can check out "http://www.sweettproductions.com/":http://www.sweettproductions.com/ for more info on her exploits.

h1. Lindy DJs

<a name="freddie_dickinson"></a>

h2. Freddie Dickensen

<%= dj_image :freddie_dickinson %>

p(from). Seattle, WA

Freddie is always hot and anxious to play that savage rhythm until all the cats join in. Spreadin' rhythm around wherever he plays, Freedie will make you shake the blues away. He's brought lindy hoppers delight at every tub from Seattle to Houston, including Camp Jitterbug, Seattle Lindy Exchange, Seattle Bal-Swing Festival, Southwest Lindyfest, as well as all the local Seattle dance floors. He's so very diga diga doo by nature, but has been known to let it get sweet and hot until your sister kate shouts "Ochi!" four or five times. If he could be with you just one hour at night, he'll be sure to be tappin' the commodore till you go viper mad!


<a name="mark_kihara"></a>

h2. Mark Kihara

<%= dj_image :mark_kihara %>

p(from). Seattle, WA

Mark Kihara has been spinning swingin' tunes for the last 7 years.  He's served as the dj coordinator for Herrang Dance camp for two consecutive years.  Mixing up newly-discovered classic with familiar favorites, Mark makes every dance swingin'!  Learn more about Mark at "www.swingjamproductions.com":http://www.swingjamproductions.com.

<a name="matt_menzer"></a>

h2. Matt Menzer

<%= dj_image :matt_menzer %>

p(from). Seattle, WA

He would make the music if he could, but for now Matt is content simply spinning the songs that keep him on the floor. He DJs in Seattle at regular venues and special events, including competitions, CJ, and the Seattle Exchange.

<div style="clear: both;"></div>
</div>