<html>
<head>
  <title>in loving memory of Bernardo Fresquez</title>
  <link rel="stylesheet" href="stylesheets/application.css" type="text/css" media="all" />
</head>
<body>
  <div class="header">
    <h2>Bernardo Fresquez</h2>
    <div class="menu">
      <%= link_to "home", "index.html" %>
      <%= link_to "poetry", "poetry.html" %>
      <%= link_to "pictures", "pictures.html" %>
      <%= link_to "funeral program", "funeral_program.pdf" %>
    </div>
  </div>
  <div class="content">
    <hr/>
    <%= content %>
  </div>
  <div class="footer">
  </div>
</body>
</html>