<div class="pattern">

p(feedback). "tell me about this pattern":mailto:jeremy.lightsmith@gmail.com?subject=Feedback:<%= pattern.symbol %> !img/feedback.png!

<div class="category"><%= pattern.category %></div>
<h2><%= pattern.name %></h2>
<div class="story">

<%= pattern.story %>


</div>

<div class="summary">

<%= pattern.summary %>


</div>

% unless pattern.todo.blank?
<div class="todo">

<%= pattern.todo %>

</div>
% end

<div class="problem">

<%= pattern.problem %>

</div>
% unless pattern.answer.blank?

<div class="therefore">Therefore:</div>

<div class="answer">

<%= pattern.answer %>

</div>
% end

<div class="details">

<%= pattern.details %>

</div>

% unless pattern.credits.blank?
<div class="credit_label">Credit to:</div>
<div class="credits">

<%= pattern.credits %>

</div>
% end

</div>