<html>
<head>
  <title>Challenge Workshop</title>
  <link rel="stylesheet" href="css/application.css" type="text/css" media="all" />
</head>
<body>
  <div class="header">
    <div class="title">CHALLENGE!</div>
    <div class="where_and_when">
      SEATTLE<br/>
      JAN 17-18, 2009
    </div>
    <div class="clear">
    </div>
  </div>
  <div class="content">
    <div class="right_side">
      <%= link_to "the concept", "concept.html" %>
      <%= link_to "the schedule", "schedule.html" %>
      <%= link_to "the teachers", "teachers.html" %>
      <%= link_to "register", "register.html" %>
    </div>
    <div class="left_side">
      <%= content %>
    </div>
  </div>
  <div class="footer">
    <a href="mailto:karissa.light+challenge@gmail.com?subject=[Challenge]&amp;cc=jeremy.lightsmith+challenge@gmail.com">contact us</a>
  </div>
</body>
</html>