<html>
<head>
  <title>Jeremy Lightsmith<%= " - #{@content_for_title}" if @content_for_title %></title>
  <link href="stylesheets/style.css" media="all" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="nav-bar">
    <div class="fixed">
      <div class="links">
        <%= nav_links %>
      </div>

      <%= link_to image_tag("logo.png"), "/" %>
    </div>
  </div>

  <div class="page-title">
    <div class="fixed">
      <h1><%= @content_for_title %></h1>
    </div>
  </div>

  <div class="content">
    <div class="fixed">
      <%= content %>
      
      <div class="clear"></div>
    </div>
  </div>

  <div class="footer">
    <div class="fixed">
      <span class="copy">&copy; Jeremy Lightsmith 2009</span>
      <span class="links">312-953-1193 | <a href="mailto:jeremy.lightsmith@gmail.com">jeremy.lightsmith@gmail.com</a> | Seattle, WA</span>
    </div>
  </div>
</body>
</html>
