<html>
<head>
  <title>Jeremy Lightsmith</title>
  <link href="stylesheets/style.css" media="all" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="nav-bar">
    <div class="fixed">
      <div class="links">
        <%= link_to "home", "/" %>
        <%= link_to "services", "/services.html" %>
        <%= link_to "classes", "/classes.html" %>
        <%= link_to "bio", "/bio.html" %>
        <%= link_to "blog", "http://onemanswalk.com/work" %>
        <%= link_to "facilitation patterns", "http://facilitationpatterns.org/" %>
      </div>

      <%= link_to "jeremy lightsmith", "/" %>
    </div>
  </div>
  <%= content %>
  <div class="footer">
    <div class="fixed">
      <span class="copy">&copy; Jeremy Lightsmith 2009</span>
      <span class="links">312-953-1193 | <a href="mailto:jeremy.lightsmith@gmail.com">jeremy.lightsmith@gmail.com</a></span>
    </div>
  </div>
</body>
</html>