% layout :home

<div class="banner">
  <div class="fixed seattle-background">
  </div>
</div>
<div class="content">
  <div class="fixed">
    <div class="right-col">
      <%= what_i_offer %>
      
      <div class="box">
        <h2>Find me</h2>
        
        <table class="contacts">
          <tr><th>phone:</th><td>312-953-1193</td></tr>
          <tr><th>email:</th><td><%= link_to "jeremy.lightsmith@gmail.com", "mailto:jeremy.lightsmith@gmail.com" %></td></tr>
          <tr><th>linkedin:</th><td><%= link_to "http://www.linkedin.com/in/jeremylightsmith", "http://www.linkedin.com/in/jeremylightsmith" %></td></tr>
          <tr><th>twitter:</th><td><%= link_to "http://twitter.com/stellsmi", "http://twitter.com/stellsmi" %></td></tr>
        </table>
      </div>
      
    </div>

    <div class="left-col">
      <h1>About Me</h1>
      
      <%= image_tag "black_talking.jpg", :style => "float: left; width: 200px; margin-right: 20px;" %>
      <p>Jeremy spends most of his time &amp; energy building highly performant software development teams.</p>

      <p>A seasoned agile coach, trainer &amp; facilitator, Jeremy excels at creating environments where teams can discover how they work best.  He has a deep understanding of agile, and is constantly looking for better ways to share knowledge and collaborate.  As a presenter, Jeremy favors interactive and group techniques and pulls from disciplines as diverse as Theatre Improv and Montessori.</p>

      <p>Though Jeremy is now an independent consultant in Seattle, most of his 11 year career has been spent at companies like ThoughtWorks and Pivotal.  During his time at ThoughtWorks, Jeremy coached teams and trained facilitators; he owes much of his toolbox to the ThoughtWorkers with whom he worked.</p>
      
      <p>He is currently writing a book about Facilitation Patterns.</p>
    </div>
    
    <div class="clear"></div>
  </div>
</div>
